*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.content{
  width: 100vw !important;
  height: 100vh !important;
}

.input-style{
  width: 25rem !important;
  margin: auto;
  border: 1px solid black !important;
  border-radius: 10px!important;
}

.card-style{
  height: 70vh;
  overflow-y: scroll;
  width: 25rem !important;
  align-items: center;
  align-content: center;
  margin: auto;
  border: 1px solid black !important;
  border-radius: 10px!important;
}